html {
    width:100vw;
    height:100vh;
    background:linear-gradient(to bottom, navy .1%, dodgerBlue .9%, lightblue);
    background-size:100%;
    overflow:hidden;
    /* cursor:grab; */
  }
  
  body {
    padding:0;
    margin:0;
    width:100vw;
    height:100vh;
    background-color:transparent;
  }

  
.space { 
    animation:space 6s ease-in 1s forwards;  
  }
  
  @keyframes space {
    75% { background-color:midnightblue; }
    100% { background-color:#111; background-image: 
      radial-gradient(2px 2px at 20px 30px, #eee, rgba(0,0,0,0)),
      radial-gradient(2px 2px at 40px 70px, #fff, rgba(0,0,0,0)),
      radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0,0,0,0)),
      radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)),
      radial-gradient(2px 2px at 130px 80px, #fff, rgba(0,0,0,0)),
      radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0,0,0,0));
    background-repeat: repeat;
    background-size: 200px 200px; }
  }
  
  
  #note {
    position:fixed;
    top:10px;
    padding:10px;
    user-select:none;
  }
  
  #grass {
    width:100vw;
    height:30%;
    position:absolute;
    bottom:0;
    left:0;
    /* border-radius:75% 75% 0% 0%; */
    background: linear-gradient(to top, darkgreen, green, limegreen);
  /*   clip-path: polygon(0% 0%, 4% 31%, 8% 0, 11% 31%, 18% 1%, 21% 33%, 25% 1%, 28% 21%, 34% 0, 42% 23%, 46% 1%, 55% 19%, 59% 1%, 63% 13%, 67% 0%, 72% 15%, 79% 1%, 85% 20%, 89% 0, 94% 19%, 100% 0%, 100% 100%, 0 100%); */
  }