@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

#contactSubmitContainer{
    margin-top: 5rem;
}

#contactUsWrapper{
    /* position: absolute; */
    /* width: calc(80em - 14px); */
    padding-left: 14px;
    padding-right: 14px;
    margin: 0;
    /* left: 50%;
    top: 70%; */
    /* -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%); */
}
